.recipe-list {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

a {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.recipe-list a {
    text-decoration: none;
    color: black;
}
button {
    background-color: #28a745;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .recipe-list {
        width: 100%;
        margin: 0;
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
  }